# DEVICE INFO
DEVICE_ID = '958e0a40-05ed-414e-ac70-a54c2dcf60cf' # UUID
DEVICE_NAME = 'x'
DEVICE_CODE = 'x' # CODE


# DB CONNECTION
PG_HOST=''
PG_PORT=''
PG_DB=''
PG_USER=''
PG_PASS=''

# VIDEO STREAM URL
RTSP_URL='./test1.mp4' # RTSP URL, mp4 video path, or 0 for videocam
OPENCV_FFMPEG_CAPTURE_OPTIONS=rtsp_transport;tcp|stimeout;5000000|max_delay;5000000|rw_timeout;5000000|fflags;nobuffer|flags;low_delay|reorder_queue_size;0
# 800 x 600
# 1024 x 768
# 1280 x 720
# 1920 x 1080
SCREEN_RESOLUTION= [800, 600]

# LINE POINT SETUP
# "X" for point on the left and right line or "Y" for point on the up and bottom line
POINT_AXIS= 'Y'

# INCREMENTAL LINE
lineA= [(238, 197), (240, 540)]
lineB= [(238, 197), (240, 540)]

# lineC= [(90, 270), (80, 630)]
# lineD= [(95, 270), (85, 630)]


# MQTT
MQTT_BROKER = 'localhost'
MQTT_PORT = '1883'
MQTT_USERNAME = '' 
MQTT_PASSWORD =  ''
MQTT_TOPIC = '/person_in'
MQTT_INTERVAL_TOPIC = '/resampling_person/****'

# DEBUG MODE
DEBUG_MODE = 'true'

# RTMP/RTSP (Not Implemented Yet)
# ENABLE_OUTPUT_STREAM= false
# OUTPUT_RTSP_URL=''
# OUTPUT_STREAM_FPS= 15
# OUTPUT_STREAM_BITRATE=
# OUTPUT_STREAM_RESOLUTION =