opencv-python-headless
# opencv-python
# torch        # already installed in image with CUDA support (cu130)
# torchvision  # already installed in image with CUDA support (cu130)
ultralytics>=8.2.0
numpy>=1.26.0,<2.0.0
lapx>=0.5.10.post1
cvzone>=1.6.0
pandas>=2.2.0
shapely>=2.0.0
psycopg2-binary
datetime
python-dotenv
paho-mqtt
tensorrt
onnx>=1.12.0,<2.0.0
onnxslim>=0.1.71
onnxruntime-gpu